body {
    background-color: var(--white);
}

.post {
    margin: 128px 0;
}

.meta .date {
    color: var(--grey);
    font-weight: 600;
}

.meta .title {
    font-size: 48px;
    margin-top: 16px;
}

.content {
    font-size: 19px;
    line-height: 1.4211;
    font-weight: 400;
    letter-spacing: .012em;
}

.comments {
    font-size: 19px;
    line-height: 1.4211;
    font-weight: 400;
    letter-spacing: .012em;
}

.content p, .content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .meta .date, .content figure, .divider, .container, hr, .meta .title, .content blockquote, .content table, .content video, .content ul, .content ol, .about {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
}

.content p img, .content .block-large img {
    border-radius: 10px;
}

.content .highlight {
    overflow-x: auto;
    overflow-y: hidden;
    background-color: var(--body-bg);
    border-radius: 15px;
    max-width: calc(800px - 16px * 2);
}

table {
    width: 100%; /*表格宽度*/
    max-width: 65em; /*表格最大宽度，避免表格过宽*/
    border: 1px solid #dedede; /*表格外边框设置*/
    margin: auto; /*外边距*/
    border-collapse: collapse; /*使用单一线条的边框*/
    empty-cells: show; /*单元格无内容依旧绘制边框*/
}
table th,
table td {
  height: 35px; /*统一每一行的默认高度*/
  border: 1px solid #dedede; /*内部边框样式*/
  padding: 0 10px; /*内边距*/
}

table th {
    font-weight: bold; /*加粗*/
    text-align: center !important; /*内容居中，加上 !important 避免被 Markdown 样式覆盖*/
    background: rgba(158,188,226,0.2); /*背景色*/
}

table tbody tr:nth-child(2n) {
    background: rgba(158,188,226,0.12);
}
table tr:hover {
    background: #efefef; 
}

table th {
    white-space: nowrap; /*表头内容强制在一行显示*/
}

table td:nth-child(1) {
    white-space: nowrap; 
}

@media screen and (max-width: 800px) {
    .content .highlight {
        border-radius: 0;
    }
}

.content .highlight .gutter {
    padding-right: 16px;
}

.content table, .content video {
    display: block;
}

.content video {
    max-width: 100%;
    padding: 0;
}

.content ul, .content ol {
    padding: 0 16px;
    padding-left: 32px;
    max-width: calc(800px - 16px * 2);
}

.content ul *, .content ol * {
    padding: 0;
}

.content blockquote {
    max-width: calc(800px - 16px * 2);
    padding: 0 8px;
}

.about {
    border-radius: 7px;
    background-color: var(--body-bg);
    padding: 16px;
    margin: 64px auto;
}

.about h1 {
    margin: 0;
}